<% if existe_usuario(@user) %>
<h3>Perfil Público <%= nombre_perfil(@user) %></h3>

		<div class="row">
  			<div class="span4">
  			<%= gravatar_image_tag(@user.email, :alt => @user.name,:class=>"thumbnail",:gravatar => { :size => 300 })  %>
  			</div>
  			<div class="span3 ">
  				<h3><%= nombre_perfil(@user) %></h3>
  				<p>
  					<small>
  						<p>Ciudad: <%= ciudad_perfil(@user) %> </p>
  						<p>Sexo: <%= sexo_perfil(@user) %> </p>
  					</small>
  				<%= render :partial=>"users/contacto", :locals =>{:destinatario=> @user.email,
            :usuario =>@user} %>
  			</div>
          <div class="span3">
          <%= render :partial=>"listado_amigos", :locals => {:usuario=> @user} %>
        </div>
  		</div>
  		<div class="row">
  			<div class="span4">
        <!-- Comprobar si existe amistad, sino mostrar el enlace -->
        <% if existe_amistad?(current_user,@user) %>
        <%= link_to "Petición de amistad a #{@user.name}",
        {:controller=>"amistad",
         :action=>"crear",
         :id=>@user},
         :confirm => "¿Realmente quiere solicitar su amitad?" %>
          <%end %>
  			</div>

  		</div>
<% else %>
	
	Lo sentimos nombre de usuario no válido 

<% end %>